In [18]:
import tensorflow as tf
import os
import re
import pandas as pd
import numpy as np

In [5]:
dpath = '/home/lucius/Projects/notebook/homework/ctr_predict/models/v2'

In [22]:
ss_map1 = np.zeros([5, 5])
ss_map2 = np.zeros([5, 5])
for i in range(4):
    for j in range(5):
        log_dir = os.path.join(dpath, 'logdata_' + str(i) + '_' + str(j), 'eval')
        log_file = os.listdir(log_dir)[0]
        assert re.match('events\.out\.tfevents\.\d+\.luciuscomputer', log_file), log_file
        for e in tf.train.summary_iterator(os.path.join(log_dir, log_file)):
            for v in e.summary.value:
                print(v)
                if v.tag == 'loss':
                    if ss_map1[i][j] == 0:
                        ss_map1[i][j] = v.simple_value
                    else:
                        ss_map2[i][j] = v.simple_value
        raise

tag: "accuracy"
simple_value: 0.7490055561065674

tag: "loss"
simple_value: 0.6928669214248657

tag: "checkpoint_path"
tensor {
  dtype: DT_STRING
  tensor_shape {
  }
  string_val: "models/v2/logdata_0_0/model.ckpt-141446"
}

tag: "accuracy"
simple_value: 0.8282254934310913

tag: "loss"
simple_value: 0.6930378079414368

tag: "checkpoint_path"
tensor {
  dtype: DT_STRING
  tensor_shape {
  }
  string_val: "models/v2/logdata_0_0/model.ckpt-282892"
}

RuntimeError: No active exception to reraise

In [20]:
pd.DataFrame(ss_map1)

          0         1         2         3         4
0  0.692867  0.478761  0.442091  0.418319  0.408824
1  0.693211  0.480209  0.442109  0.417106  0.408054
2  0.692406  0.474483  0.442938  0.416692  0.409550
3  0.692795  0.484026  0.442704  0.417485  0.410897
4  0.000000  0.000000  0.000000  0.000000  0.000000

In [21]:
pd.DataFrame(ss_map2)

          0         1         2         3         4
0  0.693038  0.480303  0.442110  0.412185  0.406913
1  0.692711  0.480425  0.442284  0.416915  0.406861
2  0.692659  0.480080  0.442322  0.415039  0.407472
3  0.692690  0.480102  0.442288  0.415813  0.406366
4  0.000000  0.000000  0.000000  0.000000  0.000000